@import "~@angular/material/theming";
@include mat-core();

$typography: mat-typography-config(
  $font-family: 'Manrope'
);
@include mat-core($typography);

$primary: mat-palette($mat-amber);
$accent: mat-palette($mat-pink, A200);
$warn: mat-palette($mat-red, A100);

$theme: mat-dark-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include angular-material-theme($theme);

html,
body {
  background-color: #000000;
  color: #ffffff;
  height: 100%;
  margin: 0;
  font-family: Manrope, "Helvetica Neue", sans-serif;
  font-weight: bold !important;
  background: linear-gradient(0deg, #000000da 50%, #000000a6 100%), url("https://source.unsplash.com/1920x1080/?nature,city,office") center, linear-gradient(45deg, rgb(59, 112, 182) 20%, rgb(199, 87, 180) 100%);
}

* {
  font-weight: bold !important;
}

p, h1, h2 {
  margin: 0 !important;
}

.checkboxDiv {
  background-color: rgba($color: #1a1a1a, $alpha: 0.75);
}

a {
  color: inherit;
}

.stdPadding {
  padding: 1em !important;
}

.stdPaddingHorizontal {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

app-header-bar h1 {
  font-weight: bold !important;
}

.fillHeight {
  height: 100vh;
}

.thumbnail {
  background-size: cover;
}

.checkboxDiv {
  padding: 0.6em 0.8em 0.7em 0.8em;
  border-radius: 100%;
}

.fileUpload {
  border: 1px solid rgba(255, 255, 255, 0.342);
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}