@import "~@angular/material/theming";
@include mat-core();

@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto.ttf) format("truetype");
}

$primary-light: mat-palette($mat-indigo);
$accent-light: mat-palette($mat-pink, A200);
$warn-light: mat-palette($mat-red);

$primary-dark: mat-palette($mat-indigo);
$accent-dark: mat-palette($mat-pink, A100);
$warn-dark: mat-palette($mat-red);

$theme-light: mat-light-theme(
  (
    color: (
      primary: $primary-light,
      accent: $accent-light,
      warn: $warn-light,
    ),
  )
);

$theme-dark: mat-dark-theme(
  (
    color: (
      primary: $primary-dark,
      accent: $accent-dark,
      warn: $warn-dark,
    ),
  )
);

@media (prefers-color-scheme: light) {
  @include angular-material-theme($theme-light);

  html,
  body {
    background-color: #FFFFFF;
    color: #000000;
  }

  .primaryBG {
    background-color: mat-color($primary-light, lighter) !important;
  }

  .accentBG {
    background-color: mat-color($accent-light, lighter) !important;
  }

  .warnBG {
    background-color: mat-color($warn-light, lighter) !important;
  }

  .checkboxDiv {
    background-color: rgba($color: #FFFFFF, $alpha: 0.75);
  }
}

@media (prefers-color-scheme: dark) {
  @include angular-material-theme($theme-dark);

  html,
  body {
    background-color: #2C2C2C;
    color: #FFFFFF !important;
  }

  .plainButton {
    color: #FFFFFF !important;
  }

  .primaryBG {
    background-color: mat-color($primary-dark, darker) !important;
  }

  .accentBG {
    background-color: mat-color($accent-dark, darker) !important;
  }

  .warnBG {
    background-color: mat-color($warn-dark, darker) !important;
  }

  .checkboxDiv {
    background-color: rgba($color: #000000, $alpha: 0.75);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}

.stdPadding {
  padding: 1em !important;
}

.stdPaddingHorizontal {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}

.bigText {
  font-size: x-large !important;
}

.mediumText {
  font-size: large !important;
}

.fillHeight {
  height: 100vh;
}

.plainButton {
  border: 1px solid;
  padding: 0.4em 0.8em 0.4em 0.8em;
  border-radius: 0.3em;
  background-color: transparent;
  text-align: center;
}

.backgroundCover {
  background-size: cover;
}

.checkboxDiv {
  padding: 0.6em 0.7em 0.6em 0.7em;
  border-radius: 100%;
}
