RSA_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----\n...\n-----END RSA PRIVATE KEY-----
RSA_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...\n-----END PUBLIC KEY-----
EXPIRES_IN=86400
DB_CONN_STRING=mongodb://localhost:27017
DB_NAME=snap-space-db