<div fxLayout="column" fxLayoutGap="1em" class="stdPadding fillHeight">
    <app-header-bar [title]="'SnapSpace'"></app-header-bar>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="default default" style="height: 100%;">
        <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="1em">
            <h2>Good {{getTimePhrase()}}!</h2>
        </div>
        <div fxFlex="100%" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.lt-sm="start center" fxLayoutGap="1em">
            <form [formGroup]="authForm" fxLayout="row" fxLayoutAlign="default start" fxLayoutGap="1em"
                fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="default default" fxLayoutGap.lt-sm="0">
                <mat-form-field>
                    <input matInput formControlName="email" placeholder="Email" type="email" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="password" placeholder="Password" type="password" required>
                    <mat-hint>Minimum {{minimumPasswordCharacters}} characters</mat-hint>
                </mat-form-field>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="1em">
                    <div fxHide fxShow.lt-sm></div>
                    <button mat-stroked-button color="primary" (click)="login()"
                        [disabled]="!authForm.valid || loading || authForm.controls['password'].value.length < minimumPasswordCharacters">Login</button>
                    <button mat-stroked-button color="accent" (click)="register()"
                        [disabled]="!authForm.valid || loading || authForm.controls['password'].value.length < minimumPasswordCharacters">Register</button>
                </div>
            </form>
        </div>
        <div fxFlex="20%" fxFlex.lt-sm="0" fxLayout="column" fxLayoutGap="1em">
            <button mat-stroked-button routerLink="/images/public" [disabled]="loading">See Public
                Images</button>
        </div>
    </div>
</div>